@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

html, body, div, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Fjalla One', sans-serif;
}

:root {
    --main-color-1: #5F6770;
    --main-color-2: #BBC4CC;
    --main-color-3: #DCE6EF;
    --main-color-4: #8DACC6;
    --main-color-5: #A0C0D9;
}

body {
    /* background-color: var(--main-color-2); */
    overflow: hidden;
}

/* Start Header */

.header {
    text-align: center;
    position: relative;
    overflow: hidden;
    /* width: 100%; */
    color: var(--main-color-2);
    background: var(--main-color-1);
}

.header::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .4;
    background-image: url("../../images/header-background-2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.header__text {
    padding: .2em 0;
    font-size: 4em;
    font-weight: 900;
    z-index: 2;
    position: relative;
}

.header__text .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.header__text .letter {
    display: inline-block;
    line-height: 1em;
}

/* End Header */

/* Start Scatter */

#scatter {
    width: 100%;
    background-color: var(--main-color-2);
    padding-bottom: 5vh;
    min-height: 70vh;
}

#scatter svg {
    width: 98%;
    border: 1px solid var(--main-color-4);
    background-color: white;
    margin-top: 20px;
    margin-left: 1%;
}

.tooltip {
    position: absolute;
    font-size: 12px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: white;
}   

/* End Scatter */

/* Start loading frame */

.loading {
    text-align: center;
    border: 1px solid var(--main-color-4);
    height: 80vh;
}

/* End loading frame */

/* Start iframe */

.iframe {
    text-align: center;
    display: none;
}

iframe {
    /* frameborders: 0; */
    width: 98%;
    height: 80vh;
    border: 1px solid var(--main-color-4);
}

/* End iframe */

/* Start waiting content */
.waiting-container {
    background: black;
}
.waiting-image {
    width: 100%;
}

/* End waiting content */